$primary-color       : #1ad597;
$white              : #ffffff;
$gray               : #ededed;
$black              : #212121;

$transition     : cubic-bezier(.4, 0, .2, 1);

$font-family    :'Inter',Helvetica,Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,sans-serif;